.contents-room
  .contents-room__box
    %h2.contents-room__box__name
      room1
    %ul.contents-room__box__member
      member: やまだたろう
  = link_to "", class: "contents-room__edit-btn" do
    Edit

.contents-chat
  .chat

.contents-message