=form_tag("", class: "new__message", id: "new_message") do
  .input-area
    %input.input-area__text{type: "text", placeholder: "type a message"}
  %input.send-btn{type: "submit", name: "commit", value: "send"}
