.sidebar-user
  .user-box
    %p.user-box__name やまだたろう
    %ul.user-box__menu
      %li.user-box__menu__new
        = link_to "" do
          %i.fa.fa-edit
      %li.user-box__menu__edit
        = link_to "" do
          %i.fa.fa-cog



.sidebar-rooms
  .room-info
    %p.room-info__name room1
    %p.room-info__message まだメッセージはありません
  .room-info
    %p.room-info__name room2
    %p.room-info__message 画像が投稿されています