.sidebar-user
  .sidebar-user__box
    %p.sidebar-user__box__name やまだたろう
    %ul.sidebar-user__box__menu

.sidebar-rooms
  .room-info
    %p.room-info__name room1
    %p.room-info__message まだメッセージはありません