=render "shared/sidebar"

.contents
  .contents-room
    .room-index
      %h2.room-index__name
        = @group.name
      %ul.room-index__member
        Members :
        - @group.users.each do |user|
          %li.room-index__member__name=user.name
    = link_to edit_group_path(@group), class: "room-index__edit-btn" do
      Edit

  .contents-messages
    =render @messages

  .contents-form
    =render "messages/form"

