.contents-form form{
  display: flex;
  .input-area{
    width: 100%;
    position: relative;
      &__text{
        height: 50px;
        width: 100%;
        padding: 0 40px 0 10px;
        border-style: none;
      }
  }
  .send-btn{
    height: 50px;
    width: 100px;
    padding: 0 30px;
    margin-left: 15px;
    background-color: #38aef0;
    color: white;
    cursor: pointer;
  }
}

